@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,700);
/*font-family: 'Raleway', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*font-family: 'Open Sans', sans-serif;*/

body{
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
	/* upper-alpha | upper-roman | upper-latin | url(../images/ser1.png) | disc | circle | square*/
}

.contenedor-inicial{
	// background-color:#E4F089;
	height: 900px;
	/*
	background-image: url(../images/indexbanner-bg3.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	/* repeat | no-repeat | repeat-x | repeat-y */
	/*background-attachment: scroll; /* fixed */
	background: url(../images/indexbanner-bg3.jpg) no-repeat center top scroll;
}
.servicios-destacados article{
	text-align: center;
}

.pie{
    background-color: darkslategrey;
}